@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  box-sizing: border-box;
}

/* 
  Styling body of game 
  setting height to 100 view height 
  Adding background image to the body
  And positioning
*/
body{
  height: 100vh;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* 
  Styling fontawesome play and pause button
  Positioning it at the top left corner
*/
.fas {
  position: absolute;
  color: white;
  top: 1%;
  left: 20px;
}


.header{
  display: inline;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 50px; 
}

.header button{
  border: none;
  font-size: 40px;
  color: rgba(251, 244, 37, 0.994);
  background-color: inherit;
  cursor: pointer;
}

.header p{
  color:black;
  font-size: 30px;
  margin-left: 1%;
  margin-top: 3%;
  color: rgb(240, 24, 24);
  height: 50px;
}

.grid-wrapper{
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: inherit;
  background-size: cover;
  background-position: center;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 70vh;
  box-shadow: 0 0 20px rgba(218, 134, 31, 0.8);
  margin-top: 5%;
}

.grid div{
  width: 10%;
  height: 10%;
}

.result-screen{
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
}

#vic-los{
  font-family: inherit;
  font-size: 50px;
  color: rgb(237, 146, 28);
}

#result-p{
  font-size: 40px;
  color: rgb(237, 146, 28);;
}

#sad{
  width: 365px;
  height: 500px;
}

#happy{
  width: 500px;
  height: 500px;
}

.sadpic{
  background-image: url('../images/pngegg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.happypic{
  background-image: url('../images/winner.png');
  background-repeat: no-repeat;
  background-size: cover;
}



.ship{
  background-image: url('../images/pacmanup.png');
  background-size: 90%;
  background-position:center;
  background-repeat: no-repeat;
}

.alienship{
  background-image: url('../images/blue_ghost.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.shooterlaser{
  background-image: url('../images/apple.png');
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.alienlaser{
  background-image: url('../images/lazer.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}